[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdParty/glm"]
	path = thirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdParty/tinyobjloader"]
	path = thirdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "thirdParty/json"]
	path = thirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "cgltf"]
	path = cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "thirdParty/cgltf"]
	path = thirdParty/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "thirdParty/ufbx"]
	path = thirdParty/ufbx
	url = https://github.com/ufbx/ufbx.git
